<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708591079837-kp3cb72ntshontir2a4at42nsle44l2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708591079837-kp3cb72ntshontir2a4at42nsle44l2h</string>
	<key>API_KEY</key>
	<string>AIzaSyChVA61v73Wwbni-SOSu4PtY2zDZI1yffo</string>
	<key>GCM_SENDER_ID</key>
	<string>708591079837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulyazhuseynova.WhatsApp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-84de6</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-84de6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708591079837:ios:23d4db54011a96dc6ddf74</string>
</dict>
</plist>